body {
    background-color: #111828;
    font-family: sans-serif;
    padding: 36px;
}

h1 {
    font-size: 42px;
    color: white;
}

button {
    font-size: 16px;
    background-color: rgb(255, 177, 163);
    padding: 12px 24px;
    margin: 16px 0 36px 0;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(99, 31, 19);
    color: white;
    cursor: pointer;
}

.container {
    max-width: 960px;
}

.square-row {
    display: flex;
    flex-wrap: wrap;
}

.square-column {
    background-color: tomato;
    flex: 1 0 auto;
    margin: 1px;
}

.square-column::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.square-column:hover {
    background-color: rgba(255, 99, 71, 0.5);
    cursor: pointer;
}

.signature {
    color: rgba(255, 255, 255, 0.4);
    padding-top: 24px;
}